/* newPageStyles.css */


body {
    background-size: cover;
    background-position: center;
    color:black; /* Set text color to white or any color that suits your background */
    /* Add any additional styles you want for the new page */
  }
 
